// ==========================================================================
// Objects / Buttons
// ==========================================================================

.o-btn {
  @include u-hocus {
    background-color: gray;
  }

  padding: rem(10px);
  background-color: lightgray;
}
