// ==========================================================================
// Objects / Container
// ==========================================================================

.o-container {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 0 $unit / 2;
  @media (min-width: $from-small) {
    width: 680px;
    padding: 0;
  }
  @media (min-width: $from-medium) {
    width: 860px;
    padding: 0;
  }
  @media (min-width: $from-large) {
    width: 960px;
  }
  @media (min-width: $from-big) {
    width: 1000px;
  }
  @media (min-width: $from-huge) {
    width: 1200px;
  }
  @media (min-width: $from-gigantic) {
    width: 1800px;
  }
}
