// ======================================================
// Objects / Wrapper
// ======================================================

$wrapper--phone-padding: $unit;
$wrapper--tablet-padding: $unit * 2;
$wrapper--padding: $unit * 4;

.o-wrapper {
  position: relative;
  padding: 0 rem($wrapper--phone-padding);
  @media (min-width: $from-medium) {
    padding: 0 rem($wrapper--tablet-padding);
  }
  @media (min-width: $from-large) {
    padding: 0 rem($wrapper--padding);
  }
}

.o-section {
  padding-top: rem($wrapper--tablet-padding);
  padding-bottom: rem($wrapper--tablet-padding);
}
