// ======================================================
// Components / Quick-bio
// ======================================================

.c-biography-tease {
}

.c-biography-tease_profile,
.c-biography-tease_profile_image {
  width: rem($biography-tease--profile-image-width);
  max-width: rem($biography-tease--profile-image-width);
  height: rem($biography-tease--profile-image-height);
}

.c-biography-tease_profile {
  margin: 0 auto;
  background-color: $black;
  border: solid rem($biography-tease--profile-border-width) $white;
  box-shadow: 2px 2px 15px rgba($color: $black, $alpha: 0.7);
}

.c-biography-tease_profile_image {
  width: 100%;
  height: 100%;
  display: block;
}
