// ======================================================
// Components / Footer
// ======================================================

.c-footer {
  padding: rem($unit) 0;
  text-align: center;
  background-color: lighten($black, 10%);
}

.c-footer_music {
  display: inline-block;
  margin-bottom: rem($unit / 2);
  &:hover {
    animation: music-shake $footer--music-speed $easing infinite;
  }
}

.c-footer_music_icon {
  width: rem($footer--music-size);
  height: rem($footer--music-size);
  color: lighten($black, 40%);
  transform: scale(1);
  &:hover {
    color: darken($white, 12%);
    transform: scale(1.15);
  }
  transition: $speed / 2 $easing;
}

.c-footer_copyright {
  margin: 0;
  color: lighten($black, 25%);
  font-size: rem($footer--font-size);
}

@keyframes music-shake {
  0% {
    transform: rotateZ(0);
  }
  25% {
    transform: rotateZ(-$footer--music-rotation);
  }
  50% {
    transform: rotateZ(0);
  }
  75% {
    transform: rotateZ($footer--music-rotation);
  }
  100% {
    transform: rotateZ(0);
  }
}
