// ======================================================
// Components / Navigation
// ======================================================

// Overlay
// ======================================================

.c-nav_overlay {
  z-index: 10;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba($color: $black, $alpha: 0.75);
}

// Navigation
// ======================================================

.c-nav {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  height: rem($navigation--link-height);
  padding-top: rem($unit / 2);
  background-color: transparent;
  &.-shrink {
    padding-top: 0;
    background-color: $navigation;
  }
  transition: $speed ease-in-out;
  @include u-clearfix;

  & .c-nav_list {
    display: none;
    @media (min-width: $from-small) {
      display: block;
    }
  }
}

.c-nav_list {
  float: right;
}

.c-nav_item {
  display: inline-block;
  height: rem($navigation--link-height);
  overflow: hidden;
}

.c-nav_link {
  display: block;
  height: rem($navigation--link-height);
  line-height: rem($navigation--link-height);

  padding: 0 rem($navigation--link-padding);

  text-decoration: none;
  font-weight: $light;
  font-size: rem($navigation--link-font-size);

  // Default
  opacity: 0.5;
  color: $white;
  background-color: transparent;
  @include u-hocus {
    color: $white;
    opacity: 1;
    background-color: rgba($color: $black, $alpha: 0.25);
  }
  transition: $speed / 2 $easing;

  // Feature
  &.-feature {
    height: rem($navigation--link-height * 0.95);
    line-height: rem($navigation--link-height * 0.9);
    font-weight: $normal;

    margin-left: rem($unit / 3);
    padding: 0 rem($navigation--link-padding * 1.35);

    opacity: 1;
    background-color: $feature;
    @include u-hocus {
      background-color: $feature-dark;
    }
  }
}

// Buger Toggle Button
// ======================================================

.c-nav_burger-toggle-btn {
  height: rem($navigation--link-height);
  float: right;
}

.c-nav_burger-toggle-btn_icon {
  width: rem($navigation--burger-btn-size);
  height: rem($navigation--burger-btn-size);
  color: $white;
}

// Burger Panel
// ======================================================

.c-nav_burger-panel {
  z-index: 11;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;

  overflow: hidden;
  background-color: $main;
}

.c-nav_burger-panel_title {
  color: $white;
  text-align: center;
  margin-top: rem($unit);
  margin-bottom: rem($unit / 4);
  font-style: normal;
}

.c-nav_burger-panel_separator {
  width: 60%;
  margin: 0 auto;
  border-color: $main-dark;
}

.c-nav_burger-panel .c-nav_list {
  width: 100%;
  height: 100%;
  float: none;

  padding: rem($unit / 4);
}

.c-nav_burger-panel .c-nav_item {
  display: block;
  width: 100%;
  &:last-child {
    margin-top: rem($unit / 4);
  }
}

.c-nav_burger-panel .c-nav_link {
  text-align: center;
  &.-feature {
    margin-left: 0;
  }
}

.c-nav_burger-panel_music-note {
  z-index: 1;
  position: absolute;
  bottom: rem($unit / 3);
  left: 0;
  right: 0;
  text-align: center;
}

.c-nav_burger-panel_music-note_icon {
  width: rem($navigation--music-note-size);
  height: rem($navigation--music-note-size);
  color: $main-dark;
}
