// ======================================================
// Components / ServicesTease
// ======================================================

.c-services-tease {
  display: none;
  @media (min-width: $from-small) {
    display: block;
  }
}

.c-services-tease,
.c-services-tease_list,
.c-services-tease_item {
  width: 100%;
  height: rem($services-tease--height);
}

.c-services-tease_list {
  display: flex;
}

.c-services-tease_item {
  position: relative;
  flex-grow: 1;
  flex-basis: 0;
  &.-active {
    flex-grow: 2;
  }
  transition: $speed ease-in-out;
}

.c-services-tease_slide-wrapper,
.c-services-tease_slide {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.c-services-tease_slide {
  background-color: rgba($color: $black, $alpha: 0.7);
  .c-services-tease_item.-active & {
    background-color: rgba($color: $black, $alpha: 0.4);
  }
  transition: background-color $speed / 2 $easing;
}

.c-services-tease_slide_content {
  z-index: 1;
  position: absolute;
  bottom: rem($unit);
  padding: 0 rem($services-tease--slide-padding);
}

.c-services-tease_slide_title {
  color: $white;
  font-size: rem($services-tease--slide-title-font-size);
}

.c-services-tease_slide_title_span-wrapper {
  display: block;
  &:not(:last-child) {
    @media (min-width: $from-medium) {
      margin-bottom: rem($unit / 4);
    }
  }
}

.c-services-tease_slide_title_text {
  position: absolute;
  display: block;
  overflow: hidden;
}

.c-services-tease_slide_description {
  width: rem($services-tease--slide-description-width);
  color: rgba($color: $white, $alpha: 0.9);
  font-size: rem($services-tease--slide-description-font-size);
  font-weight: $light;
}
