// ======================================================
// Components / Services
// ======================================================

.c-services {
}

.c-services_article {
  padding-top: rem($services--article-padding);
  padding-bottom: rem($services--article-padding);
  &:nth-child(even) {
    background-color: darken($white, 3%);
    @media (max-width: $to-small) {
      & > div {
        display: flex;
        flex-direction: column-reverse;
      }
    }
  }
}

.c-services_subtitle {
  margin-bottom: rem($unit / 5);
}

.c-services_article_view {
  min-height: rem($services--article-height);
  @media (max-width: $to-small) {
    min-height: auto !important;
  }

  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 0 $unit / 2;
}

.c-services_article_img {
  width: 70%;
  margin: 0 auto;
  @media (max-width: $to-large) {
    width: 90%;
  }
  @media (max-width: $to-small) {
    width: 60%;
    margin-bottom: rem($unit);
  }
  @media (max-width: $to-tiny) {
    width: 70%;
    margin-bottom: rem($unit);
  }
}
