// ======================================================
// Components / Quick-bio
// ======================================================

.c-short-biography {
  & .o-layout_item:first-child {
    position: relative;
    padding-right: rem($unit / 2);
  }
}

.c-short-biography_profile,
.c-short-biography_profile_image {
  width: rem($short-biography--profile-image-width);
  max-width: rem($short-biography--profile-image-width);
  height: rem($short-biography--profile-image-height);
}

.c-short-biography_profile {
  margin: 0 auto;
  background-color: $black;
  border: solid rem($short-biography--profile-border-width) $white;
  box-shadow: 2px 2px 15px rgba($color: $black, $alpha: 0.7);
}

.c-short-biography_profile_image {
  width: 100%;
  height: 100%;
  display: block;
}
