// ==========================================================================
// Settings / Config / App
// ==========================================================================

// HomeHeader
$header--slide-title-font-size: 48px;
$header--slide-description-font-size: 26px;
$header--slide-description-width: 600px;

$header--slide-indicator-width: 40px;
$header--slide-indicator-height: 5px;

// Quick Bio
$quick-bio--profile-border-width: 12px;
$quick-bio--profile-image-width: 360px;
$quick-bio--profile-image-height: 480px;

$quick-bio--profile-left: $unit * 2;
$quick-bio--profile-translate: $unit * 2;
