// ==========================================================================
// Settings / Config / Colors
// ==========================================================================

// Palette
// =============================================================================
$white: #ffffff;
$black: #000000;

$gray: #e9e9e9;

$main: #5a3562;
$main-dark: darken($main, 8%);

$feature: rgb(255, 153, 0);
$feature-dark: darken($feature, 15%);

// Specific
// =============================================================================

// App preview blocks
$block-blue: rgb(76, 181, 207);
$block-green: rgb(46, 228, 182);

// Link
$link-color: #1a0dab;
$link-focus-color: #1a0dab;
$link-hover-color: darken(#1a0dab, 10%);

// Selection
$selection-text-color: #3297fd;
$selection-background-color: #ffffff;

// Social Colors
// =============================================================================
$facebook-color: #3b5998;
$instagram-color: #e1306c;
$youtube-color: #cd201f;
$twitter-color: #1da1f2;
