// ==========================================================================
// Settings / Config / App
// ==========================================================================

// Biography
$biography-tease--profile-border-width: 12px;
$biography-tease--profile-image-width: 360px;
$biography-tease--profile-image-height: 480px;
$biography-tease--profile-left: $unit * 2;
$biography-tease--profile-translate: $unit * 2;

$biography--header-height: 600px;

// Footer
$footer--font-size: 18px;
$footer--music-size: 50px;
$footer--music-speed: $speed * 0.8;
$footer--music-rotation: 10deg;

// HomeHeader
$header--slide-title-font-size: 48px;
$header--slide-description-font-size: 26px;
$header--slide-description-width: 600px;

$header--slide-indicator-width: 40px;
$header--slide-indicator-height: 5px;

// Link
$link--margin-top: $unit;
$link--padding: $unit;
$link--font-size: 22px;

// Navigation
$navigation--link-height: 70px;
$navigation--link-padding: $unit / 2;
$navigation--link-font-size: 18px;
$navigation--burger-btn-size: 45px;
$navigation--music-note-size: 38px;

// Register
$register--preview-width: 420px;
$register--preview-height: 350px;
$register--preview-margin-top: $unit;
$register--preview-border-radius: 12px;
$register--preview-btn-size: 15px;

// Services
$services-tease--height: 450px;
$services-tease--slide-padding: $unit;
$services-tease--slide-title-font-size: 32px;
$services-tease--slide-description-font-size: 22px;
$services-tease--slide-description-width: 380px;

$services--article-padding: $unit;
$services--article-height: 550px;
