// ==========================================================================
// Settings / Config / Colors
// ==========================================================================

// Palette
// =============================================================================
$white: #ffffff;
$black: #000000;

$gray: #e9e9e9;

$main: #5a3562;
$main-dark: darken($main, 8%);
$main-darker: #230d27;

$feature: rgb(223, 137, 8);
$feature-dark: darken($feature, 15%);

$navigation: rgba(
  $color: lighten($black, 6%),
  $alpha: 0.98
);

// Specific
// =============================================================================

// App preview blocks
$block-blue: rgb(76, 181, 207);
$block-green: rgb(46, 228, 182);

// Link
$link-color: #e66dff;
$link-focus-color: $link-color;
$link-hover-color: darken($link-color, 10%);

// Selection
$selection-text-color: #3297fd;
$selection-background-color: #ffffff;

// Social Colors
// =============================================================================
$zoom-color: #2e8cff;
